* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url('benjamin-voros-AD6rn3vqG7o-unsplash.jpg');
    background-size: cover; /* Adjust as needed */
}
.right-side{
    margin-left: 35%;
    background-color: white;
    height: 100vh;
}

